.jumbotron{
    color:#ccc;
    margin-top: 50px;
    background-image: url("/images/385509-mejores-hoteles-mundo-gili-lankanfushi-maldives-playa.jpg");
    background-size: cover;
    
}
.button2{
    background-color: gray;
    color: green;
}

footer{
    background-color: antiquewhite;
    color: black;
}

.card-hotel{
    flex: 1 150px;
    padding: 5px;
    
}

.btn-reserva{
    justify-content: space-between;
    width: 100%;
    position: inherit;
    border-radius: 10px;
}
.footer-addres-icon{
    padding-right: 5px;
}